/* Message.css */
.message-container {
  display: flex;
}

.sender-list {
  width: 15%;
}

.sender {
  padding: 10px;
}

.sender:hover {
  background-color: lightgray;
}

.conversation {
  width: 85%;
}

.message-list {
  height: 80vh;
  overflow-y: scroll;
}

.message {
  margin: 10px;
}

.mine {
  align-self: flex-end;
}

.other {
  align-self: flex-start;
}

.input-area {
  display: flex;
}

input {
  width: 80%;
}

button {
  width: 20%;
}

.sender.current-user {
  background-color: lightblue;
}
